
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    

}
/* common shared styles */
body{
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
    
}
button{
    border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
border: none;
padding: 9px;
}

.section-tow, .why, .background, .vedio-container, header,
 .newslatter-container, .footer{
    margin-top: 70px;
}
/* banner part  */
.color{
color: #FF5400;
font-size: 36px;
font-weight: 800;
}
.logo{
    display: flex;
    align-items: center;
}
.logoo{
color: #131318;
font-size: 36px;
font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
}
nav a{
text-decoration: none;
padding: 20px;
}
.banner{
    background-image: url(image/Group\ 13\ \(1\)\ \(1\).png);
    padding:140px;
    margin-top: 70px;
}
   

.banner h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}
.banner p{
color: #FFF;
font-size: 10px;
font-weight: 400;
line-height: 16px;
text-align: center;
}

.banner input{
    border-radius: 8px;
background: #FFF;
padding: 12px 8px;
color: rgba(19, 19, 24, 0.50);
font-size: 10px;
font-weight: 400;
outline: none;
border: none;
}

form{
    background: #eae4e44d;
    padding: 10px;
}
.form input{
    margin:0 22px;

}
/*section one related styles*/




.container{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.container h1, .section-tow h1, .why-text h1{
    color: #131318;
font-size: 40px;
font-weight: 800;
}
.container p, ul li, p, .why-text{
    color: rgba(19, 19, 24, 0.70);
font-size: 10px;
font-weight: 400;
line-height: 26px;
}


.container-img img{
    width: 464px;
    height: auto;
}
.container-text *{
    margin-bottom: 22px;
}


.section-tow *, .why-text *{
 max-width: 552px;
 margin: 0 auto;
 text-align: center;
}



.img-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.img1 img{
    width: 100%;
}
.img2 img{
    width: 100%;
}
.img3{
    width: 100%;
}
.img-container2{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.img-container3{
    display: flex;
    justify-content: space-between;
}
.img6{
width: 70%;

}
.img7{
width: 90%;
}
.img-two, .img-one, .img-three{
    width: 350px;
}
.img-two{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 17px;
}
.img-one{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 27px;
}
.two-img{
    display: flex;
    justify-content: space-around;
}
.img-three{
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
    margin:  0 auto;
    
    padding: 27px;
}
.why, .img-one, .img-two, .img-three{
    margin-bottom: 20px;
}
.one, .two, .three{
    font-size: 80px;
}





.video-text *{
    max-width: 440px;
    margin-bottom: 19px;
}
.vedio-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*newsletter section*/

.newslatter-container{
display: flex;
justify-content: space-between;
align-items: center;
}

.newletter-text{
    border: 1px solid #FF5400;
    padding: 26px;
}
form input{
   padding: 12px 145px 12px 10px;
}
.button{
    padding: 12px 132px;
}

/*newsletter section end*/

/*footer section start*/
footer{
    background: rgba(19, 19, 24, 0.05);
}

.footer-container{
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
    padding: 100px;
}

/*footer section end*/


/* media query for mobile device */

@media screen and (max-width:576px){
    nav{
        flex-direction: column;
    }
    .banner{
        width: 450px;
        height: 480px;
        padding: 10px;
    }
    .form input button{
        margin-bottom: 10px;
    }
    .banner h1{
        font-size: 40px;
    }
    .banner p{
        text-align: center;
        width: 280px;
        margin: 0 auto;
    }
    .banner .form input{
        display: block;
        margin-bottom: 27px;
    }
    button{
        margin-left: 30px;
        
    }
    .container, .img-container, .img-container2, .img-container3,
     .two-img, .vedio-container, .newslatter-container{
        flex-direction: column;
    }
    .img-container, .img-container2, .img-container3 img{
     width: 100%;
    }
    
}